.body2 {
  background: linear-gradient(3deg, #223731, #29735e, #0b3126);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 66%;
  }
  50% {
    background-position: 100% 35%;
  }
  100% {
    background-position: 0% 66%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 66%;
  }
  50% {
    background-position: 100% 35%;
  }
  100% {
    background-position: 0% 66%;
  }
}

body {
  background: linear-gradient(221deg, #dbf6ef, #93b1a97a, #cce1dcc8);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 45s ease infinite;
  animation: AnimationName 45s ease infinite;
}

.peebody {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #333333;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0.01em, rgba(0, 255, 0, 0.137)), color-stop(0.1em, transparent)), -webkit-gradient(linear, left top, right top, color-stop(0.01em, rgba(0, 255, 0, 0.14)), color-stop(0.1em, transparent));
  background-image: linear-gradient(rgba(0, 255, 0, 0.137) 0.01em, transparent 0.1em), linear-gradient(90deg, rgba(0, 255, 0, 0.14) 0.01em, transparent 0.1em);
  background-size: 1em 3em;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}

@keyframes AnimationName {
  0% {
    background-position: 91% 0%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 91% 0%;
  }
}

p {
  font-size: 8px;
}

.main {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
/* Medium devices (landscape tablets, 768px and up) */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.jungled1 {
  background-image: url("@/assets/bg_mint01.png");
  background-repeat: no-repeat;
  background-size: cover;
  bottom: 0;
  margin: 0;
  padding: 0;
  min-width: 100%;
}

p, h1, img, router-link {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.container.bg-dark, .logg, .logger {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.introbit {
  position: absolute;
  z-index: 11;
  width: 100px;
  height: 100px;
  background: #5bf2ba;
  -webkit-animation-name: example;
          animation-name: example;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes example {
  0% {
    top: 0px;
    background-color: rgba(119, 185, 142, 0.341);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 50px aquamarine;
            box-shadow: 0px 0px 50px aquamarine;
  }
  25% {
    top: 0px;
    background-color: rgba(0, 255, 200, 0.537);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 100px aquamarine;
            box-shadow: 0px 0px 100px aquamarine;
  }
  50% {
    top: 0px;
    background-color: rgba(86, 255, 241, 0.667);
    width: 100%;
    height: 50%;
    -webkit-box-shadow: 0px 0px 30px aquamarine;
            box-shadow: 0px 0px 30px aquamarine;
  }
  100% {
    top: 0px;
    background-color: rgba(17, 140, 54, 0.368);
    width: 100%;
    height: 0%;
    -webkit-box-shadow: 0px 0px 5px aquamarine;
            box-shadow: 0px 0px 5px aquamarine;
  }
}

@keyframes example {
  0% {
    top: 0px;
    background-color: rgba(119, 185, 142, 0.341);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 50px aquamarine;
            box-shadow: 0px 0px 50px aquamarine;
  }
  25% {
    top: 0px;
    background-color: rgba(0, 255, 200, 0.537);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 100px aquamarine;
            box-shadow: 0px 0px 100px aquamarine;
  }
  50% {
    top: 0px;
    background-color: rgba(86, 255, 241, 0.667);
    width: 100%;
    height: 50%;
    -webkit-box-shadow: 0px 0px 30px aquamarine;
            box-shadow: 0px 0px 30px aquamarine;
  }
  100% {
    top: 0px;
    background-color: rgba(17, 140, 54, 0.368);
    width: 100%;
    height: 0%;
    -webkit-box-shadow: 0px 0px 5px aquamarine;
            box-shadow: 0px 0px 5px aquamarine;
  }
}

.introbit1 {
  position: absolute;
  margin-left: 75%;
  z-index: 12;
  width: 100px;
  height: 100px;
  background: #5bf2ba;
  -webkit-animation-name: example2;
          animation-name: example2;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes example2 {
  0% {
    top: 0px;
    background-color: #adffcc;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 50px aquamarine;
            box-shadow: 0px 0px 50px aquamarine;
  }
  25% {
    top: 0px;
    background-color: rgba(48, 48, 41, 0.281);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 25px aquamarine;
            box-shadow: 0px 0px 25px aquamarine;
  }
  50% {
    top: 0px;
    background-color: rgba(255, 255, 0, 0.32);
    width: 10%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 15px aquamarine;
            box-shadow: 0px 0px 15px aquamarine;
  }
  100% {
    top: 0px;
    background-color: rgba(63, 214, 108, 0.551);
    width: 0%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px rgba(127, 255, 212, 0.209);
            box-shadow: 0px 0px 5px rgba(127, 255, 212, 0.209);
  }
}

@keyframes example2 {
  0% {
    top: 0px;
    background-color: #adffcc;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 50px aquamarine;
            box-shadow: 0px 0px 50px aquamarine;
  }
  25% {
    top: 0px;
    background-color: rgba(48, 48, 41, 0.281);
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 25px aquamarine;
            box-shadow: 0px 0px 25px aquamarine;
  }
  50% {
    top: 0px;
    background-color: rgba(255, 255, 0, 0.32);
    width: 10%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 15px aquamarine;
            box-shadow: 0px 0px 15px aquamarine;
  }
  100% {
    top: 0px;
    background-color: rgba(63, 214, 108, 0.551);
    width: 0%;
    height: 100%;
    -webkit-box-shadow: 0px 0px 5px rgba(127, 255, 212, 0.209);
            box-shadow: 0px 0px 5px rgba(127, 255, 212, 0.209);
  }
}

.introbit2 {
  position: absolute;
  margin-left: 10%;
  z-index: 13;
  width: 100px;
  height: 100px;
  background: #5bf2ba;
  -webkit-animation-name: example3;
          animation-name: example3;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes example3 {
  0% {
    top: 0px;
    background-color: rgba(173, 255, 204, 0.603);
    width: 0%;
    height: 100%;
  }
  25% {
    top: 0px;
    background-color: #2e2930;
    width: 10%;
    height: 100%;
  }
  50% {
    top: 0px;
    background-color: rgba(255, 255, 0, 0.606);
    width: 2%;
    height: 100%;
  }
  100% {
    top: 0px;
    background-color: rgba(180, 255, 203, 0.463);
    width: 0%;
    height: 100%;
  }
}

@keyframes example3 {
  0% {
    top: 0px;
    background-color: rgba(173, 255, 204, 0.603);
    width: 0%;
    height: 100%;
  }
  25% {
    top: 0px;
    background-color: #2e2930;
    width: 10%;
    height: 100%;
  }
  50% {
    top: 0px;
    background-color: rgba(255, 255, 0, 0.606);
    width: 2%;
    height: 100%;
  }
  100% {
    top: 0px;
    background-color: rgba(180, 255, 203, 0.463);
    width: 0%;
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */