.body2{
    background: linear-gradient(3deg, #223731, #29735e, #0b3126);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 30s ease infinite;
    -moz-animation: AnimationName 30s ease infinite;
    animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
@keyframes AnimationName {
    0%{background-position:0% 66%}
    50%{background-position:100% 35%}
    100%{background-position:0% 66%}
}
  body{

    background: linear-gradient(221deg, #dbf6ef, #93b1a97a, #cce1dcc8);
        background-size: 600% 600%;
    
        -webkit-animation: AnimationName 45s ease infinite;
        -moz-animation: AnimationName 45s ease infinite;
        animation: AnimationName 45s ease infinite;
  }
        
    
    .peebody {
        margin: 0;
        padding: 0;
        
        width: 100%;
        min-height: 100%;
       
        background: rgb(51, 51, 51);
        background-image: linear-gradient(rgba(0, 255, 0, 0.137) .01em, transparent .1em), linear-gradient(90deg, rgba(0, 255, 0, 0.14) .01em, transparent .1em);
        background-size: 1em 3em;
      }
    
    @-webkit-keyframes AnimationName {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
    @-moz-keyframes AnimationName {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }
    @keyframes AnimationName {
        0%{background-position:91% 0%}
        50%{background-position:10% 100%}
        100%{background-position:91% 0%}
    }




p{
    font-size: 8px;
}

.main{
    // flex-direction: column;
    flex-direction: row;
 }



/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    .main{
         flex-direction: column;
     //   flex-direction: row;

     }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

.main{
    // flex-direction: column;
    flex-direction: row;
 }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

.main{
    // flex-direction: column;
    flex-direction: row;
 }
}

.jungled1{
    background-image: url('@/assets/bg_mint01.png');
    background-repeat: no-repeat;
    background-size: cover;
bottom:0;
    margin:0;
    padding:0;
    min-width:100%;

}

p,h1,img{

        -webkit-animation-name: fadeIn;
        animation-name: fadeIn;
        -webkit-animation-duration: 2s;
        animation-duration: 2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        }
        @keyframes fadeIn {
        0% {opacity: 0;}
        100% {opacity: 1;}
        } 


        .container.bg-dark,.logg,.logger{
            -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
            -webkit-animation-duration: 1s;
            animation-duration: 2s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

     .introbit{
        position:absolute;
        z-index:11;
            width: 100px;
            height: 100px;
            background: rgb(91, 242, 186);

            animation-name: example;
            animation-duration: 1s;  
            animation-delay: 0s;
            animation-fill-mode: both;
          }
          
          @keyframes example {
            0% {top: 0px; background-color: rgba(119, 185, 142, 0.341);width: 100%;height:100%}
            25% {top: 0px; background-color: rgba(0, 255, 200, 0.537);width: 100%;height:100%}
            50% {top: 0px; background-color: rgba(86, 255, 241, 0.667);width: 100%;height:50%}
            100% {top: 0px; background-color: rgba(17, 140, 54, 0.368);width: 100%;height:0%}
          }
          .introbit1{
            position:absolute;
            margin-left:50%;
            z-index:12;
                width: 100px;
                height: 100px;
                background: rgb(91, 242, 186);
    
                animation-name: example2;
                animation-duration: 1s;  
                animation-delay: 0s;
                animation-fill-mode: both;
              }
              
              @keyframes example2 {
                0% {top: 0px; background-color: rgb(173, 255, 204);width: 100%;height:100%}
                25% {top: 0px; background-color: rgba(48, 48, 41, 0.281);width: 100%;height:100%}
                50% {top: 0px; background-color: rgba(255, 255, 0, 0.32);width: 100%;height:100%}
                100% {top: 0px; background-color: rgba(63, 214, 108, 0.551);width: 100%;height:0%}
              }
              .introbit2{
                position:absolute;
                margin-left:10%;
                z-index:13;
                    width: 100px;
                    height: 100px;
                    background: rgb(91, 242, 186);
        
                    animation-name: example3;
                    animation-duration: 1s;  
                    animation-delay: 0s;
                    animation-fill-mode: both;
                  }
                  
                  @keyframes example3 {
                    0% {top: 0px; background-color: rgba(173, 255, 204, 0.603);width: 0%;height:100%}
                    25% {top: 0px; background-color: rgb(46, 41, 48);width: 10%;height:100%}
                    50% {top: 0px; background-color: rgba(255, 255, 0, 0.606);width: 2%;height:100%}
                    100% {top: 0px; background-color: rgba(180, 255, 203, 0.463);width: 0%;height:100%}
                  }